.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 0; /* Remove the padding here */
  }
  
  .main-content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15rem; 
    opacity: 0;
    animation: fadeInMove 2s forwards; 
  }
  
  .app-logo {
    width: 200px;
  }
  
  .headline {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    margin-top: 1.2rem;
    color: #272341;
  }

  @keyframes fadeInMove {
    0% {
      opacity: 0;
      transform: translateX(-30px); /* Start position: 30px left */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End position: original position */
    }
  }

  .main-color {
    color: #1cb8f5
  }
  
  .subheadline {
    font-size: 32px;
  }
  
  .footer-logos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .db-logo {
    width: 'auto';
    height: 15px;
    margin: 0 32px;
    opacity: 0.6;
  }
  
/* Media queries for responsive design */
@media (max-width: 1200px) {
    .main-content {
      padding-left: 10rem;
    }
  }
  
  @media (max-width: 992px) {
    .main-content {
      padding-left: 7rem;
    }
  }
  
  @media (max-width: 768px) {
    .main-content {
      padding-left: 5rem;
    }
  }
  
  @media (max-width: 576px) {
    .main-content {
      padding-left: 1rem;
    }
  }
  
  @media (max-width: 400px) {
    .main-content {
      padding-left: 0.5rem;
    }
  }